language: python

services:
  - docker

before_install:
  - docker build --no-cache -t wordstock .
  - docker run -d --name wordstock-ci -v $(pwd)/wordstock/tests/data:/wordstock/data -v $(pwd)/wordstock/tests/patterns:/wordstock/patterns -w /wordstock wordstock:latest tail -f /dev/null
  - docker ps -a
  - docker logs wordstock-ci

env: DOCKER_SH="docker exec -t wordstock-ci bash -c"

script:
  - $DOCKER_SH "flake8"
  - $DOCKER_SH "pytest nithyg/wordstock:v1 --cov=wordstock --cov-report term-missing /wordstock/tests"