language: python

services:
  - docker

before_install:
  - docker build -t wordstock .
  - docker run -d --name wordstock-ci -v $(pwd)/wordstock/tests/data:/wordstock/data -v $(pwd)/wordstock/tests/patterns:/wordstock/patterns -w /wordstock wordstock:latest tail -f /dev/null
  - docker ps -a
  - docker logs wordstock-ci

env: DOCKER_SH="docker exec -t wordstock-ci bash -c"

python:
  - "3.7"
  - pypy3

# command to install dependencies
install:
  - pip install -r wordstock/requirements.txt

script:
  - pytest --cov=wordstock --cov-report term-missing /wordstock/tests
  - docker ps -a
  - docker logs wordstock-ci
#  - $DOCKER_SH "flake8"
#  - $DOCKER_SH "pytest --cov=wordstock --cov-report term-missing /wordstock/tests"